<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>
			{% block title %}{% endblock %}
		</title>
	
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css"/>
		<script src="http://code.jquery.com/jquery.min.js"></script>
		<script src="{{STATIC_URL}}js/getTimeline.js"></script> 	
	</head>
	
	
	<body>
		<h1 align="center">NYTimesLine</h1>
		
		<div class="searchBox">
			<form id="queryForm" onsubmit="submitAjaxQuery(event)">
  				Search a category: <input type="text" name="searchQuery"><br>
  				<input type="submit" value="Submit">
  				{% csrf_token %}
			</form>
		</div>
		
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
