html {
	height: 100%;
}

body {
	font-family: 'Raleway', sans-serif;
	background-image:url('../img/project_papper.png');
	height: 100%;
}

.searchBox {
	text-align: center;
}

#graph {
	width: 90%;
	margin-left: auto;
	margin-right:auto;
}

.graphPar {
	text-align: center;
}
